.breadcrums {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  margin: 60px 170px;
  text-transform: capitalize;
  color: #5e5e5e;
  font-size: 16px;
  text-transform: capitalize;
}

.breadcrums img {
  margin: 0 8px;
}
